@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-shadow-primary-pink {
  box-shadow: rgba(235, 54, 120, 0.25) 0px 54px 55px, rgba(235, 54, 120, 0.12) 0px -12px 30px, rgba(235, 54, 120, 0.12) 0px 4px 6px, rgba(235, 54, 120, 0.17) 0px 12px 13px, rgba(235, 54, 120, 0.09) 0px -3px 5px;
}
.card-shadow-primary-purple {
  box-shadow: rgba(79, 23, 135, 0.25) 0px 54px 55px, rgba(79, 23, 135, 0.12) 0px -12px 30px, rgba(79, 23, 135, 0.12) 0px 4px 6px, rgba(79, 23, 135, 0.17) 0px 12px 13px, rgba(79, 23, 135, 0.09) 0px -3px 5px;
}
